 body {
    overflow-x: hidden;
    overflow-y: hidden;
 }
 
a {
	text-decoration: none;
    -webkit-app-region:no-drag;
}

.input-group{
    margin:3px;
}

#settings-content-wrapper {
    width: 100%;
    padding: 15px;
}


